body, html {
    width:100%;
    height:100%;
}

.platilla {
    width: 100%;
    height: 100%;
}
.dgrid-cell {
    width: 100px!important;
    text-align:center;
    
}

.myClass-valueCell{
    width:50px!important

}
.myClass-valueCell-3 {
    width: 50px !important
}

.field-nombre {
    width: 250px!important;
}

.field-IsMexApp {
    width:40px!important;
    text-align:center!important
}