<div style="width:100%;height:100%">
    <div data-dojo-type="dijit/layout/ContentPane">
        <div data-dojo-type="dijit/MenuBar" id="navMenu">
            <div data-dojo-type="dijit/MenuBarItem"
                 data-dojo-attach-point="nuevoSuenoWidget">
                Nuevo sueño
            </div>
        </div>

        <div data-dojo-type="dojox/layout/TableContainer"
             data-dojo-props="cols:4,showLabels:false">
            <div data-dojo-type="dijit/form/Button"
                 data-dojo-props="label:'Tipo'"
                 disabled>
            </div>
            <div data-dojo-type="dijit/form/Select"
                 id="selectTipoWidget"
                 data-dojo-props="colspan:2"
                 title="Tipo Operador :"
                 style="width: 180px!important">
                <option value="1">SUEÑO</option>
                <option value="101">ASIGNADO</option>
                <option value="102">ACTIVO</option>
                <option value="103">DESCANSO</option>
                <option value="104">INACTIVO</option>
            </div>
            <div data-dojo-type="dijit/form/ValidationTextBox"
                 disabled
                 style="border:none;display:none">
            </div>
            <div data-dojo-type="dijit/form/Button"
                 data-dojo-props="label:'Operador'"
                 disabled>
            </div>
            <div data-dojo-type="dijit/form/ValidationTextBox"
                 id="operadorWidget"
                 data-dojo-attach-point="operadorWidget"
                 style="width:99%!important"
                 colspan=3>
            </div>

            <div data-dojo-type="dijit/form/Button"
                 data-dojo-props="label:'Inicio'"
                 disabled>
            </div>
            <div data-dojo-type="dijit/form/DateTextBox"
                 constraints="{datePattern : 'dd/MM/yyyy'}"
                 id="fechaInicioWidget"
                 data-dojo-attach-point="fechaInicioWidget">
            </div>
            <div data-dojo-type="dijit/form/TimeTextBox"
                 value="T00:00:00"
                 data-dojo-props="constraints:{
                        timePattern:'HH:mm:ss'
                     }"
                 id="fechaInicioTimeWidget"
                 data-dojo-attach-point="fechaInicioTimeWidget">
            </div>
            <div data-dojo-type="dijit/form/ValidationTextBox"
                 disabled
                 style="border:none;display:none">
            </div>
            <div data-dojo-type="dijit/form/Button"
                 data-dojo-props="label:'Fin'"
                 disabled>
            </div>
            <div data-dojo-type="dijit/form/DateTextBox"
                 constraints="{datePattern : 'dd/MM/yyyy'}"
                 id="fechaFinWidget"
                 data-dojo-attach-point="fechaFinWidget">
            </div>
            <div data-dojo-type="dijit/form/TimeTextBox"
                 id="fechaFinTimeWidget"
                 value="T00:00:00"
                 data-dojo-props="constraints:{
                        timePattern:'HH:mm:ss'
                     }"
                 data-dojo-attach-point="fechaFinTimeWidget">
            </div>
            <div data-dojo-type="dijit/form/ValidationTextBox"
                 disabled
                 style="border:none;display:none">
            </div>
            <div data-dojo-type="dijit/form/Button"
                 data-dojo-props="label:'Comentarios'"
                 disabled>
            </div>
            <div data-dojo-type="dijit/form/SimpleTextarea"
                 style="width:auto"
                 id="comentariosWidget"
                 data-dojo-attach-point="comentariosWidget"
                 data-dojo-props="rows:4">
            </div>
            <div data-dojo-type="dijit/form/ValidationTextBox"
                 disabled
                 colspan="2"
                 style="border:none;display:none">
            </div>
            <div data-dojo-type="dijit/form/Button"
                 style="width:auto"
                 colspan="2"
                 id="btnGuardarWidget"
                 data-dojo-props="label:'Insertar'"
                 data-dojo-attach-point="btnGuardarWidget">
            </div>

        </div>
        </div>
    </div>